*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(rgba(1, 39, 15, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1509785307050-d4066910ec1e?q=80&w=1928&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    font-family: 'roboto', sans-serif;
    background-attachment: fixed;
    justify-content: center;
    /* align-items: center; */
}

.navbar {
    position: sticky;
    top: 0;
    
    z-index: 1000;
    transition: background-color 400ms linear;
  }
  
  .navbar.scrolled {
    background-color: rgb(22, 22, 22) !important;
    transition: background-color 400ms linear;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #fff; /* This adds a white border */
  }

.display-4 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 50px;
}

.lead {
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    padding: 30px;
}
  
.custom-carousel {
    background: #202020;
    box-shadow: 0 40px 45px 2px rgba(0, 0, 0, 0.7);
  }
  
.carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    /* width: 320px; */
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    position: relative;
    
} 

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
    top: 0;
    left: 0;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    position: absolute;
    background: #210e0880;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #f5f5f5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    
}

.card:hover .card-body {
    left: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: clamp(2rem, 2.5vw, 5rem);;
    font-weight: 500;
}

.card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    line-height: 5px;
}

.card-text {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.my-button {
    background: #032749;
    padding: 10px 20px;
    width: 128px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
}

.modal-dialog {
    max-width: 800px; /* Or whatever width you want */
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 10px;
}

.modal-content {
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.6);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

@media screen and (max-width: 767px) {
    .card-title {
        font-size: clamp(3rem, 4vw, 5rem); /* Adjust as needed */
    }

}